.navBar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 10vh;
  float: left;
  display: flex;
  justify-content : space-around;
  border-top: 1px solid #efefef;
  background-color: #fff;
  .navBar_item {
    display: block;
    position: relative;
    padding-top: 10px;
    &.active{
      color: #1296db;
      .navBar_item-text{
        color: #1296db;
      }
    }
    .navBar_item-icon {
      display: flex;
      justify-content: center;
      margin-top:1vh;
      .navBar_item-icon-img {
        width: 48px;
        height: 48px;
      }
    }
    .navBar_item-text {
      text-align: center;
      font-size: 24px;
      color: #515151;
    }
  }
}
